mixin categories_table(categories, pagesdata) 
    #table-container.text-light.bg-dark.rounded.mx-2(data-action="/admin/category-modal")
        #table-controls
            span.show-form
                i.far.fa-plus-square.text-primary
            include ../share/pagination
            +pagination(pagesdata)
            span#itemsPerPage
                if categories.count > 10
                    #items.input-group
                        .input-group-prepend
                            label.input-group-text(for="items" value="") Items
                        select#item.form-control(name="items")
                            -for(let i = 10; i < categories.count; i += 10)
                                option(value=i)= i
                            option(value=categories.count)= categories.count
                span.badge.badge-primary #{categories.count}
        
        table.table.table-dark.user-table.table-hover
            thead
                tr
                    th Acciones
                    th Nombre
            tbody
                each category in categories.rows
                    tr(id=""+ category.Id)
                        td.text-primary
                            span.show-form
                                i.fas.fa-edit.fa-2x
                            span.show-delete(data-action="/admin/category-delete")
                                i.ml-2.text-danger.fas.fa-trash-alt.fa-2x
                        td= category.Name