extends ../share/layout

block css
    if  env === 'development'
        link(rel="stylesheet" href="/static/css/admin.css" type="text/css")
        link(rel="stylesheet" href="/static/css/tree-view.css" type="text/css")
        link(rel="stylesheet" href="/static/css/folders.css" type="text/css")
    else
        link(rel="stylesheet" href="/css/admin.css" type="text/css")

block navbar
    include ../share/navbar
    +navbar(user, url)
    input#ctl-nav(type="checkbox")
    label#nav-btn(for="ctl-nav")
        i.fa.fa-chevron-circle-right
    .sidenav
        ul#mytab.navbar.navbar-dark.nav-tabs(role="tablist")
            li.nav-item
                a.nav-link(href="/admin/users" class=""+(/Users/ig.test(title) ? "active" : ""))
                    i.fa.fa-users.text-primary
                        span Users
            li.nav-item
                a.nav-link(href="/admin/folders" class=""+(/folders/ig.test(title) ? "active" : ""))
                    i.fas.fa-folder.text-primary
                        span Folders
            li.nav-item
                a.nav-link(href="/admin/files" class=""+(/Files/ig.test(title) ? "active" : ""))
                    i.fas.fa-film.text-primary
                        span Files
            li.nav-item
                a.nav-link(href="/admin/categories" class=""+(/Cate/ig.test(title) ? "active" : ""))
                    i.fas.fa-tags.text-primary
                        span Categories
            li.nav-item
                a.nav-link(href="/admin/directories" class=""+(/Directories/ig.test(title) ? "active" : ""))
                    i.fas.fa-cogs.text-primary
                        span Directories

block content
    if /Users/ig.test(title)
        include ./users/users-table
        +users_table(users, pagedatas)
    else if /Files/ig.test(title)
        include ./files/files-table
        +files_table(files, pagedatas)
    else if /folder|Cate/ig.test(title)
        include ./items_home
        +items_home(items, files, filepages, itemspages, title, id)
    else if /Directories/ig.test(title)
        include ./directories/directories
        +directories(directories, pagedatas)

block script
    if  env === 'development'
        script(src="/static/js/main.js")
        script(src="/static/js/admin/folders.js")
        script(src="/static/js/admin/files.js")
        script(src="/static/js/admin/directories.js")
        script(src="/static/js/admin/admin.js")
    else
        script(src="/js/admin.js")