extends ../share/layout


block css
    link(rel="stylesheet" href="/css/account.css" type="text/css")
    link(rel="stylesheet" href="/css/main.css" type="text/css")
    link(rel="stylesheet" href="/css/modal.css" type="text/css")

block navbar
    include ../share/navbar2
    +navbar2(user)
    input#ctl-nav(type="checkbox")
    label#nav-btn(for="ctl-nav")
        i.fa.fa-chevron-circle-right
    .sidenav
        ul#mytab.navbar.navbar-dark.nav-tabs(role="tablist")
            li.nav-item
                a.nav-link.active(href="/admin")
                    i.fa.fa-users.text-primary
                        span Usuarios
            li.nav-item
                a.nav-link(href="/admin")
                    i.fas.fa-video.text-primary
                        span Peliculas

block content
    if users
        include ./users-table
        +users_table(users)
    else
        include ./movies-table
        +movies_table(movies)


block script
    script(src="/js/admin.js")