extends ../share/layout


block css
    link(rel="stylesheet" href="/css/account.css" type="text/css")
    link(rel="stylesheet" href="/css/main.css" type="text/css")
    link(rel="stylesheet" href="/css/modal.css" type="text/css")

block navbar
    include ../share/navbar2
    <input id="ctl-nav" type="checkbox">
    label#nav-btn(for="ctl-nav")
        i.fa.fa-chevron-circle-right
    .sidenav
        ul#mytab.navbar.navbar-dark.nav-tabs(role="tablist")
            li.nav-item
                a.nav-link.active(href="/admin")
                    i.fa.fa-users.text-primary
                        span Usuarios
            li.nav-item
                a.nav-link(href="/admin")
                    i.fas.fa-video.text-primary
                        span Peliculas

block content
    #table-container.card.text-light.bg-dark.rounded.text-center.mx-2.my-4
        #table-controls
            span.user-form
                i.fa.fa-user-plus.text-primary
            form.d-inline-block.ml-2(action="/search" method="POST")    
                .input-group.mb-3
                    .input-group-prepend
                        label#btn-search.input-group-text(for="searchtext") Search
                    input#search-input.form-control(required="" type="text" name="searchtext" value="" placeholder="Enter Search")
             
                   
            span.badge.badge-primary #{users.length}
        
        table.table.table-dark.user-table.table-hover
            thead
                tr
                    th Edit	
                    th User Id
                    th Name
                    th Delete
            tbody
                each user in users
                    tr(id=""+ user.Id)
                        td.text-primary
                            span.user-form
                                i.fas.fa-edit.fa-2x
                        td= user.UserId
                        td= user.UserName
                        td.text-danger.text-center
                            i.fas.fa-trash-alt.fa-2x


block script
    script(src="/js/admin.js")