extends ../share/layout


block css
    link(rel="stylesheet" href="/css/admin.css" type="text/css")
    link(rel="stylesheet" href="/css/modal.css" type="text/css")

block navbar
    include ../share/navbar2
    +navbar2(user)
    input#ctl-nav(type="checkbox")
    label#nav-btn(for="ctl-nav")
        i.fa.fa-chevron-circle-right
    .sidenav
        ul#mytab.navbar.navbar-dark.nav-tabs(role="tablist")
            li.nav-item
                a.nav-link(href="/admin/users" class=""+(users ? "active" : ""))
                    i.fa.fa-users.text-primary
                        span Usuarios
            li.nav-item
                a.nav-link(href="/admin/movies" class=""+(movies ? "active" : ""))
                    i.fas.fa-video.text-primary
                        span Peliculas
            li.nav-item
                a.nav-link(href="/admin/categories" class=""+(categories ? "active" : ""))
                    i.fas.fa-video.text-primary
                        span Categorias

block content
    if users
        include ./users-table
        +users_table(users)
    else if movies
        include ./movies-table
        +movies_table(movies)
    else if categories
        include ./categories-table
        +categories_table(categories)

block script
    script(src="/js/admin.js")