mixin items_home(items, files, filepages, itemspages, title, id)
    #container.text-light.bg-dark.rounded.mx-2(data-action=itemspages.action, data-csrf=itemspages.csrfToken)
        #items-container.card.text-dark.row
            .col-6
                .list-titles
                    .title
                        span= items.count+" - "+title
                include ./items-list
                +items_list(items, itemspages, id)
            .col-6
                .list-titles
                    .nav.nav-tabs
                        .nav-item
                            input#tab-list-files(type="radio" name="tabs" checked)
                            label.nav-link(for="tab-list-files") Lista de files
                        .nav-item
                            input#tab-all-files(type="radio" name="tabs")
                            label.nav-link(for="tab-all-files") Todos los files
                    span#total-files.badge.badge-primary = files.count
                include ./file-list
                +fileList(files, filepages)
                