#modal-container
    #modal.card.bg-dark.text-light
        #modal-header.text-center
            h3= modalTitle
        form#item-create-edit(method="post" action="/admin/series/modal-post")
            input(type="hidden" name="id" value=""+ (item ? item.Id :  ""))
            input(type="hidden" name="_csrf" value=""+ csrfToken)
            #errors.text-danger.text-center
            .input-group.my-3
                .input-group-prepend
                    label.input-group-text(for="name") Nombre
                input#namename.form-control(required="" type="text" name="name" value=""+ (item ? item.Name : ""))
            if(isSerie)
                .input-group.my-3
                    .input-group-prepend
                        label.input-group-text Cover
                    label.file-form.form-control(for="cover")
                        span#f-name Elija Cover 
                        input#cover.form-control(type="file" name="cover" accept=".jpg,.jpeg,.png,.webp,.tiff,.gif")
            
            .text-center.my-3
                button.btn.btn-secondary.close-modal(type="button") Cancelar
                button.btn.btn-primary.ml-2(type="submit") Guardar
        