mixin movies_table(movies) 
    #table-container.text-light.bg-dark.rounded.mx-2(data-action="/admin/movies-modal")
        #table-controls
            span.show-form
                i.fas.fa-video.text-primary
                    i.far.fa-plus-square.text-dark
            form.d-inline-block.ml-2(action="/movies/search" method="POST")    
                .input-group.mb-3
                    .input-group-prepend
                        label#btn-search.input-group-text(for="searchtext") Search
                    input#search-input.form-control(required="" type="text" name="searchtext" value="" placeholder="Enter Search")
            
            span.badge.badge-primary #{movies.count}
        
        table.table.table-dark.user-table.table-hover
            thead
                tr
                    th.text-center Acciones	
                    th Nombre
            tbody
                each video in movies.rows
                    tr(id=""+ video.Id)
                        td.text-primary.text-center
                            span.show-form
                                i.fas.fa-edit.fa-2x
                            span.show-delete(data-action="/admin/movie-delete")
                                i.ml-2.text-danger.fas.fa-trash-alt.fa-2x
                        td= video.Name