#modal-container
    #modal.card.bg-dark.text-light
        #modal-header.text-center
            h3= modalTitle
        form#create-edit(method="post" action="/admin/create-edit-category")
            input(type="hidden" name="id" value=""+ (category.Id ? category.Id :  ""))
            input(type="hidden" name="_csrf" value=""+ csrfToken)
            #errors.text-danger.text-center
            .input-group.my-3
                .input-group-prepend
                    label.input-group-text(for="name") Nombre
                input#namename.form-control(required="" type="text" name="name" value=""+ (category.Name ? category.Name : ""))
            .text-center.my-3
                button.btn.btn-secondary.close-modal(type="button") Cancelar
                button.btn.btn-primary.ml-2(type="submit") Guardar
        