mixin series_table(series, videos, videopages, seriepages)
    -let noItems = true
    #container.text-light.bg-dark.rounded.mx-2(data-action=seriepages.action, data-csrf=seriepages.csrfToken)
        h2.text-center Series - Manager
        #series-container.card.text-dark.row
            #series.col-4
                #series-controls
                    #title
                        span Series
                .bottom-controls
                    span.btn.btn-primary.show-form Crear 
                            i.fas.fa-plus-circle
                    include ../../share/pagination
                    +pagination(series.count, seriepages, noItems)
                #series-list
                    ul.list-group
                        each serie, index in series.rows
                            li.list-group-item(id=serie.Id class=""+ (index === 0 ? "active" : "") )
                                span.show-form                   
                                    i.ml-1.fas.fa-edit
                                span.remove-serie
                                    i.mx-1.text-danger.fas.fa-trash-alt
                                span.name-serie= serie.Name
            #series-content.col-8
                .nav.nav-tabs
                    .nav-item
                        input#tab-list-videos(type="radio" name="tabs" checked)
                        label.nav-link(for="tab-list-videos") Lista de videos
                    .nav-item
                        input#tab-all-videos(type="radio" name="tabs")
                        label.nav-link(for="tab-all-videos") Todos los Videos
                include ./serie-videos
                +serieVideos(videos, videopages, noItems)
                