extends share/layout
block css
  link(rel="stylesheet" href="/css/error.css" type="text/css")

block content
  .text-left
    button.btn.btn-primary( onclick="location.href = '/'") Go Back
  h1= "Are You Lose?"
  h3= `Url ${url} is not on this server`