#controls{
    position: sticky;
    top: 0;
    width: 100%;
}

.items-list {
    display: flex;
    flex-wrap: wrap;
    min-height: 100%;
    padding-bottom: 10px;
}

.items {
    position: relative;
    border-radius: 5px;
    outline: none;
    background-color: transparent;
    user-select: none;
    padding: 5px;
    width: 200px;
    height: 260px;
}

.item-video {
    text-align: center;
    width: 190px;
    height: 250px;
    padding: 5px;
    background-color: rgba(52, 58, 64, 0.99);
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
}

.item-video img:hover{
    max-width: initial;
    max-height: initial;
    pointer-events: all;
}

.item-progress{
    pointer-events: none;
}

.items .item-progress{
    position: relative;
    display: inline-block;
    font-size: 15px;
    top: -12px;
}

.item-btns {
    position: relative;
    font-size: 1.7em;
    height: 26px;
    z-index: 1;
}

.item-del {
    color: brown;
    float: right;
    margin-left: 5px;
}

.item-play {
    color: seashell;
    float: left;
}

.item-fav {
    float: right;
}

.item-cover {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 195px;
    clear: both;
    overflow: hidden;
}

.item-cover img {
    display: block;
    max-width: 190px;
    max-height: 180px;
    pointer-events: all;
    position: relative;
}

.item-cover img[alt]:after {
    display: block;
    position: absolute;
    top: -3px;
    left: -1px;
    background-color: rgba(52, 58, 64, 0.99);
    font-family: 'Helvetica';
    font-weight: 300;
    line-height: 2;
    text-align: center;
    content: attr(alt);
    border-radius: 5px;
}

.item-name {
    position: relative;
    text-align: center;
    user-select: text;
}

.item-video:hover>.item-name {
    position: relative;
    z-index: 5;
}

.items-list .active .item-video {
    background-color: rgba(0, 123, 255, 0.4) !important;
    box-shadow: 0 0 10px;
}

.item-video:hover {
    position: absolute;
    /* bottom: 0px; */
    height: fit-content;
    outline: none;
    background-color: rgba(0, 18, 62, 0.95) !important;
    box-shadow: 0 0 10px;
    overflow: initial;
    z-index: 999;
}
.item-name:hover,
.item-video:hover>.item-name{
    display: inline-block;
    z-index: 999;
    top: 5px;
    line-height: 1.5;
}

#back {
    position: absolute;
    align-self: center;
    margin-left: 5px;
}

#back+.search-container{
    margin-left: 42px;
}
#cat-selector{
    position: relative;
    top: 7px;
    left: 5px;
    display: inline-block;
}
#cat-selector #cat-select{
    height: 33px;
    width: 110px;
}

@media all and (max-width: 650px) {
    .item-video {
        width: 190px;
        height: 198px;
        padding: 7px 5px;
    }
    .item-cover {
        height: 130px
    }
    .items img {
        height: 120px;
    }
    
    #back+.search-container {
        margin-left: 0px;
    }
    #cat-selector{
        position: initial;
    }
    .items-list {
    justify-content: center;
    }
}

@media (max-width: 450px) {
    .items{
        width: 180px;
        height: 220px;
    }
    .item-video {
        width: 160px;
        height: 200px;
    }
    #content {
        min-height: 0;
        height: calc(100% - 40px);
        padding-bottom: 46px;
    }
    .items img {
        max-width: 120px;
        max-height: 105px;
    }
    .item-cover {
        height: 110px;
        margin: 4px 0;
    }
    .item-btns .item-fav,
    .item-btns .item-del {
        font-size: 18px;
    }
}
@media (max-width: 400px){
    #cat-selector #cat-select{
        height: 33px;
        width: 95px;
    }
    
}
