#manga-viewer {
    position: fixed;
    height: 530px;
    width: 400px;
    background-color: darkslategrey;
    user-select: none;
    pointer-events: all;
    outline: none;
}

#m-loading {
    position: absolute;
    display: flex;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    width: 100%;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
}

#m-loading .fa {
    display: block;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 5px white dotted;
}
#m-progress{
    height: 40px;
}

#manga-viewer .clock:empty {
    display: none;
}

#manga-viewer:-webkit-full-screen .clock {
    display: inline-block;
    position: relative;
    bottom: 3px;
    left: -3px;
    right: initial;
    border: initial;
    font-size: 19px;
    color: antiquewhite;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5.5px 10px;
    width: fit-content;
    z-index: 999;
}

#img-preview {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    overflow-y: hidden;
    height: fit-content;
}

body #img-preview::-webkit-scrollbar {
    width: 0;
}

#img-preview img {
    padding: 0 5px;
    max-width: 140px;
    object-fit: contain;
    max-height: 180px;
    pointer-events: none;
}

#manga-name{
    position: absolute;
    top: 5px;
    opacity: 0;
    z-index: 1003;
    width: 100%;
    transition: all 1.5s;
    text-align: center;
    padding: 5px;
    pointer-events: none;
}

#manga-name span{
    display: inline-block;
    border-radius: 6px;
    background-color: rgba(33, 33, 33, 0.8);
}

#manga-viewer:-webkit-full-screen span{
    margin: 0 6px;
}
#manga-viewer:-webkit-full-screen #close-manga-modal {
    display: none;
}

:-webkit-full-screen #img-preview img {
    padding: 0 5px;
    width: fit-content;
    max-width: 140px;
    max-height: 180pX;
    pointer-events: none;
    object-fit: contain;
}

.pimgs {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 20px);
    width: 140px;
}

#m-slider {
    flex-grow: 1;
    padding-top: 0PX;
    position: relative;
}

:-webkit-full-screen #m-slider {
    padding-top: 10px;
}

#m-name {
    display: inline-block;
    width: 100%;
    text-align: center;
    pointer-events: none;
    flex-grow: 1;
    height: fit-content;
    padding: 4px 4px;
}


#manga-viewer .item-progress {
    display: inline-block;
    position: absolute;
    left: 42%;
    padding: 4px 10px;
    border-radius: 5px;
    z-index: 1001;
}

#manga-viewer:-webkit-full-screen .item-progress{
    position: relative;
    bottom: 3px;
    left: initial;
    font-size: 19px;
    padding: 2px 5px;
    border-radius: 4px;
    background-color: rgba(0,0,0,.7);
}

#manga-viewer #img-viewer {
    position: relative;
    height: calc(100% - 40px);
    width: 100%;
}

#manga-viewer .footer {
    position: relative;
    display: flex;
    max-height: 45px;
    height: 42px;
    align-items: center;
}

#manga-viewer .footer i {
    font-size: 26px;
    bottom: 0px;
}

.manga-control span{
    padding: 0 6px;
}

#webtoon-active {
    position: absolute;
    bottom: 5px;
    right: 2px;
    display: inline-block;
    width: initial;
}

#webtoon-active label {
    position: relative;
    font-size: 12px;
    width: 100px;
    border-radius: 4px;
}

#webtoon-active label:before {
    width: 0;
}

#webtoon-active label:after {
    right: 78px;
    font-size: 15px;
}

#manga-viewer .checked-box {
    display: none;
}

.checked-mark {
    cursor: pointer;
    color: black;
    font-weight: bold;
    font-family: Arial, Font Awesome\ 5 Free;
    transition: all .2s;
}

.checked-mark:before {
    content: " ";
    position: absolute;
    display: inline-block;
    width: 125px;
    height: 100%;
    background-color: white;
    border-radius: 0 5px 5px 0;
    font-size: 25px;
}

.checked-mark:after {
    content: "\f00c";
    position: absolute;
    left: 68%;
    font-size: 25px;
}

.checked-box:checked+.checked-mark:after {
    content: "\f00d";
}

.select-style {
    display: flex;
    align-items: center;
    padding: .375rem .50rem;
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    color: white;
}

#manga-viewer:-webkit-full-screen #img-viewer {
    height: 100%;
}

#manga-viewer:-webkit-full-screen .select-style {
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    font-weight: bold;
    color: black;
}

.select-style span {
    margin: 0 5px;
}

#manga-viewer:-webkit-full-screen .btn-fullscr-m {
    position: initial;
    left: initial;
}

#manga-viewer:-webkit-full-screen #webtoon-active {
    position: relative;
    margin-left: 4px;
}

#manga-viewer:-webkit-full-screen .footer {
    display: block;
    text-align: left;
    position: absolute;
    bottom: -8px;
    width: 100%;
    z-index: 999;
}

#manga-viewer:-webkit-full-screen  #btn-img-config {
    position: initial;
}

.manga-area-control {
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    flex-direction: column;
    height: 100%;
    z-index: 10;
    pointer-events: all;
    outline: none;
}


#webtoon-content .manga-area-control{
    left: 15%;
    right: 15%;
}

#manga-viewer:-webkit-full-screen .manga-area-control {
    height: calc(100% - 50px);
}

#manga-viewer:-webkit-full-screen #webtoon-content .manga-area-control{
    height: 100%;
}

#area-top,
#area-center,
#area-botton {
    display: flex;
    flex-direction: row;
    flex-grow: 3;
}

#btn-carusel {
    height: 70px;
    width: 100%;
}

.area {
    flex-grow: 1;
}

.center-img,
#img-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    height: 100%;
    z-index: 2;
}

.center-img,
#img-content::-webkit-scrollbar-track {
    margin: 0;
}

#webtoon-content{
    overflow-y: auto;
    height: 100%;
    outline: none;
}

#webtoon-content img,
.center-img img {
    -webkit-user-drag: none;
    width: fit-content;
    max-height: 100%;
    max-width: 100%;
    position: relative;
}

.center-img {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

#webtoon-content .pimgs{
    width: 100%;
    height: initial;
}

#webtoon-content .dimg{
    min-height: 100%;
    min-width: 100%;
}

#webtoon-content dimg div:last-child{
    display: none;
}

.center-img img[src="#"]:after{
    display: block;
    position: absolute;
    top: -6px;
    background-color: rgba(52, 58, 64, 0.99);
    font-family: 'Helvetica';
    font-weight: 300;
    line-height: 2;
    text-align: center;
    content: attr(alt);
    border-radius: 5px;
    padding: 0 10px;
    width: max-content;
}

#manga-viewer:-webkit-full-screen #myimg {
    width: fit-content;
    height: 100%;
}

#m-caru {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 40px);
    width: 100%;
    pointer-events: all;
    z-index: 9999;
}

#manga-viewer:-webkit-full-screen #m-caru {
    height: calc(100% - 50px);
}

#manga-viewer #carousel {
    position: absolute;
    height: fit-content;
    width: 100%;
    bottom: 0;
    background-color: rgba(200, 0, 0, 0.4);
    z-index: 9999;
}

#manga-viewer:-webkit-full-screen #carousel {
    height: 50%;
    bottom: 0;
}


/******************************Progress Range**********************************************************/

#m-range {
    display: inline-block;
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--val) - var(--min))/var(--range));
    --sx: calc(.5*1.5em + var(--ratio)*(100% - 1.5em));
    margin: 0;
    width: 80%;
    background: transparent;
    font: 1em/1 arial, sans-serif;
    border-radius: 0.25rem;
    padding: 0 10px;
    outline: none;
}

#m-range,
#m-range::-webkit-slider-thumb {
    -webkit-appearance: none;
}

#m-range::-webkit-slider-runnable-track {
    box-sizing: border-box;
    border: none;
    width: 12.5em;
    height: 0.5em;
    background: #ccc;
    border-radius: 5px;
}

#m-range::-webkit-slider-runnable-track {
    background: linear-gradient(rgb(85, 119, 170), rgb(85, 170, 166)) 0/var(--sx) 100% no-repeat #ccc;
}

#m-range::-webkit-slider-thumb {
    margin-top: -0.40em;
    box-sizing: border-box;
    border: none;
    width: 1.25em;
    height: 1.25em;
    border-radius: 50%;
    background: rgb(172, 178, 180);
}

#m-range::-ms-tooltip {
    display: none;
}

#s-slider {
    width: 400px;
}

#page-n {
    display: inline-block;
}

#total-page {
    display: inline-block;
}

#s-slider div {
    line-height: 0;
    height: 2rem;
}


/***********************Media Type***********************************************/

@media all and (max-width: 600px) {
    #manga-viewer #img-viewer,
    #manga-viewer {
        height: 100%;
        width: 100%;
    }

    #manga-viewer .manga-control > * {
        display: none;
    }

    #manga-viewer:-webkit-full-screen .btn-fullscr-m {
        left: 15px;
    }

    #m-caru {
        height: 100%;
    }
    #manga-viewer #carousel {
        bottom: 0px;
        height: fit-content;
    }
    #m-slider {
        padding: 0;
        margin-top: 20px;
        bottom: -3px;
        height: fit-content;
    }
    #manga-viewer .footer {
        height: 0;
    }

    #manga-viewer:-webkit-full-screen #myimg {
        width: 100%;
        height: initial;
    }
    
    #manga-viewer:-webkit-full-screen #m-caru {
        height: 100%;
    }
     :-webkit-full-screen #img-preview img {
        padding: 0 5px;
        width: 130px;
        pointer-events: none;
    }
    #manga-viewer:-webkit-full-screen .manga-area-control {
        height: 100%;
    }
    #img-preview img {
        width: 136px;
        pointer-events: none;
    }
     #manga-viewer .item-progress {
        bottom: 4px;
        left: 40%;
        background-color: rgba(0,0,0,.7);
    }
    
    #manga-viewer:after{
        display: none;
    }
    #manga-viewer:-webkit-full-screen #manga-name,
    #manga-viewer #manga-name{
        top: initial;
        bottom: 38px;
    }
    #manga-viewer .item-progress{
        position: initial;
    }
    #manga-viewer .m-progress{
        position: absolute;
        bottom: 5px;
        text-align: center;
        width: 100%;
    }
    #manga-viewer:not(:-webkit-full-screen) .manga-control #webtoon-active,
    #manga-viewer .manga-control .item-progress,
    #manga-viewer:-webkit-full-screen .manga-control .clock{
        display: inline-block;
        position: absolute;
        bottom: 10px;
        font-size: 20px;
        padding: 0px 8px;
    }
    #manga-viewer .manga-control .item-progress{
        left: 40%;   
    }

}

#m-slider #mr-out {
    position: absolute;
    top: -38px;
    background-image: linear-gradient(#444444, #999999);
    width: fit-content;
    height: 30px;
    padding: 0 10px;
    text-align: center;
    color: white;
    border-radius: 10px;
    display: inline-block;
    font: bold 15px/30px Georgia;
    bottom: 32px;
    left: 0;
    margin-left: 5px;
    pointer-events: none;
}

#m-slider #mr-out:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid #999999;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    margin-top: -1px;
}