#paths{
    height: calc(100% - 58px);
    margin-bottom: 0;
}

#tree-container{
     height: calc(100% - 58px);
}

#tree-container .card{
    border-radius: 0 0 .25rem .25rem;
    overflow-x: auto;
    padding: 10px;
}

ul,
.tree-view{
    list-style-type: none;
    font-weight: bold;
}

#paths li:first-child:not(:only-child){
    display: none;
}
.tree-view .tree-item span,
#paths li{
    font-size: 1.4rem;
}

.tree-item {
    position: relative;
}

.caret{
    position: absolute;
    left: -25px;
    cursor: pointer;
    margin-right: 5px;
    transform: rotate(90deg);
}

.caret:last-child{
    transform: rotate(0);
}

.tree-item .dir{
    position: relative;
    cursor: pointer;
} 
.tree-item .dir:active{
    color: lightblue;
}

.tree-item .dir:hover:before{
    content: " ";
    position: absolute;
    top: 6.5px;
    right: -18px;
    width: 10px;
    height: 10px;
    background-color: #ff922b;
    transform: rotate(130deg);
    z-index: 0;
}

.tree-item .dir:hover:after{
    content: 'Click To Add';
    position: absolute;
    right: -111px;
    top: -2px;
    color: white;
    width: max-content;
    font-size: 15px;
    padding: 3px 4px;
    border-radius: 5px;
    background-color: #ff922b;
    z-index: 3;
}

#tab-directory .nav-link .fas{
    font-size: 30px;
}

#tree-title{
    font-size: 2rem;
}
#tree-container,
#directories{
    position: relative;
}

.dir-header{
    position: absolute;
    top: -34px;
    right: 50%;
    font-size: 24px;
    pointer-events: none;
}