#modal-container
    #modal.card.bg-dark.text-light
        #modal-header.text-center
            h3= modalTitle
        form#update-movie(method="post" action="/admin/movies/update")
            input(type="hidden" name="id" value=""+ (movie.Id ? movie.Id :  ""))
            input(type="hidden" name="_csrf" value=""+ csrfToken)
            #errors.text-danger.text-center
            .input-group.my-3
                .input-group-prepend
                    label.input-group-text(for="name") Nombre
                input#name.form-control(required="" type="text" name="name" value=""+ (movie.Name ? movie.Name : ""))
            .my-3
                .text-area-head.text-center.input-group-text
                    label(for="description") Descripcion
                textarea#description.form-control(type="textarea" name="description" value=""+ (movie.Descreption ? movie.Descreption : ""))
            .text-center.mt-3
                button.btn.btn-secondary.close-modal(type="button") Cancelar
                button.btn.btn-primary.ml-2(type="submit") Guardar
        