#content {
    margin-left: 190px;
    transition: all 0.3s ease;
    overflow-y: hidden;
}

#container{
    min-width: 720px;
    border: 2px solid white;
    padding: 15px;
    overflow-x: auto;
    margin-top: 5px;
}

#table-container{
    height: calc(100% - 50px);
    overflow-x: auto;
}

#tree-container{
    height: calc(100% - 240px);
    overflow-x: auto;
}

.nav-tabs .nav-link {
    border-radius: 0;
}

.sidenav li,
.sidenav a {
    display: inline-block;
    color: #818181;
    list-style: none;
    width: 100%;
    text-align: left;
    transition: all 0.3s;
}

.sidenav {
    min-height: 100%;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 43px;
    background-color: #111;
    overflow-x: hidden;
    width: 185px;
    transition: all 0.3s ease;
}

.table {
    margin-bottom: 0;
}

.table td {
    vertical-align: middle;
}

.table tr td:nth-child(2){
    white-space: nowrap;
    overflow: hidden;
    max-width: 280px;
    user-select: text;
}

.table tr td:nth-child(2):hover{
    overflow: auto;
}

.table tr td:nth-child(2) span{
    display: block;
}


.table td:first-child {
    color: #007bff;
}

.sidenav .navbar {
    padding: 0;
}

.sidenav li {
    border-bottom: 1px solid #BBB;
}

.sidenav li:hover {
    background-color: rgba(0,0,0,.9);
}
.sidenav .fa:hover,
.sidenav .far:hover,
.sidenav .fas:hover{
    text-shadow: initial;
}

.sidenav .nav-tabs .nav-link{
    border-color: initial;
    border: initial;
}
.sidenav .nav-tabs .nav-link:hover {
    color: #f1f1f1;
    border-color: initial;
    border: initial;
}

.nav-item i span{
    margin-left: 5px;
    font-size: 1.2rem;
}

#ctl-nav {
    display: none;
}

#nav-btn {
    position: fixed;
    display: none;
    text-align: left;
    top: 50px;
    left: 2px;
    padding: 0;
    margin: 0;
    color: white;
    z-index: 5;
    font-size: 35px;
    transition: all 0.3s ease;
}

#table-controls{
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    height: 50px;
}


/******************************Movies CSS************************************************/
#table-controls .fa-video{
    position: relative;
    top: 5px;
    font-size: 1.2em;
}

#table-controls .fa-video .fa-plus-square{
    position: absolute;
    top: 8px;
    left: 5px;
    font-size: 22px;
}

#pagination span{
    margin: 0 5px;
    cursor: pointer;
}

#tree-title{
    font-size: 2rem;
}

@media screen and (min-width: 980px) {
    .table-responsive-md, .table-responsive-sm {
        overflow-y: hidden;
        overflow-x: auto;
    }
}


@media screen and (max-width: 975px) {

    #pag-sort #pager {
        margin-top: 5px;
    }

    .sidenav span {
        display: none;
    }

    #nav-btn {
        display: inline-block;
    }

    .sidenav ul {
        text-align: center;
    }

    .sidenav a {
        text-align: center;
    }

    .sidenav {
        font-size: 30px;
        width: 0;
    }

    #content {
        margin-left: 0;
    }

    #ctl-nav:checked ~ .sidenav {
        width: 95px;
    }

    #ctl-nav:checked ~ #nav-btn {
        margin-left: 105px;
        transform: rotate(180deg);
    }
}

@media screen and (max-width: 450px) {
    #table-controls .badge{
        position: relative;
        top: 2px;
        left: 0px;
        align-self: center;
    }
}
