#page-n2 {
    display: none;
}

.footer {
    background-color: rgba(67, 66, 75, 1);
    color: white;
    z-index: 9;
    transition: all .3s;
    z-index: 999;
}

.footer>span {
    position: fixed;
    left: 5px;
    bottom: 5px;
}

.img-toolbar {
    display: flex;
    margin-left:220px;
    margin-right:10px;
    z-index: 10;
    pointer-events: all;
    transition: all .25s ease;
}

.img-toolbar span {
    margin: 0 5px;
}

#page-n {
    position: relative;
    display: inline-block;
    font-size: 20px;
    height: 33px;
    top: -4px;
    line-height: 2.5;
}

#footer-toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    pointer-events: all;
}

#footer-toolbar span i {
    padding: 0 8px;
}

.toolbar-control span {
    font-size: 1.1em;
    margin: 0 5px;
}

#img-viewer .toolbar-control span {
    flex-shrink: 1;
}

#img-seek, #img-seek::-webkit-slider-thumb {
    -webkit-appearance: none;
}

#seeker {
    display: block;
    flex-grow: 1;
    position: relative;
    margin: 0;
    z-index: 10;
}

#page-n:hover{
    cursor: pointer;
}

#img-seek {
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 1.5em;
    background: transparent;
    font: inherit;
    outline: none;
    min-height: 0.8em;
}

#img-seek::-webkit-slider-thumb {
    margin-top: -8px;
    box-sizing: border-box;
    border: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fff;
}

#img-seek::-webkit-slider-runnable-track {
    box-sizing: border-box;
    border: none;
    width: 12.5em;
    height: 0.25em;
    background: #ccc;
    border-radius: 5px;
    cursor: pointer;
}

#img-seek:focus::-webkit-slider-thumb {
    cursor: pointer;
    box-shadow: 0 0 0 2px rgba(49, 41, 41, 0.7), 0 0 0 4px #ffffff;
}

#seek-numb {
    position: absolute;
    background-color: white;
    width: 42px;
    height: 30px;
    top: -30px;
    text-align: center;
    border-radius: 10px;
    font: bold 15px/30px Georgia;
    bottom: 175%;
    color: #9e5757;
}

#seek-numb:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid #fff;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 70%;
    left: 50%;
    margin-left: -5px;
    margin-top: 5px;
}

.modal span:hover > i,
.footer label:hover > i,
.footer span:hover > i{
    cursor: pointer;
    text-shadow: 0px 0px 20px rgb(53, 237, 243);
}
nav span:active > i,
.footer div > span:active > i,
.modal span:active > i{
    transform: scale(1.2);
}

.footer label input{
    display: none;
}

/*********************************************************/
.footer .top{
   position: fixed;
   right: 14px;
   width: 76px;
   height: 38px;
   cursor: pointer;
   font-size: 23px;
   text-align: right;
}

.footer .top:after {
    content: " ";
    min-width: 26px;
    min-height: 26px;
    background: wheat;
    border-radius: 100%;
    position: absolute;
    left: 2px;
    top: 6px;
}

#on-top-cicle{
    position: absolute;
    height: 20px;
    width: 20px;
    top: 9px;
    left: 5px;
    background-color: #333;
    border-radius: 50%;
    z-index: 10;
    transition: all .25s;
}
.footer .top input[type=checkbox]:checked + #on-top-cicle {
    background-color: honeydew;
}


@media all and (max-width: 780px) {
    #image-seek {
        display: none;
    }
    .img-toolbar{
        margin: 0;
        margin-left: 140px;
        display: inline-block;
    }
}

@media all and (max-width: 700px) {
    #prev-img, #next-img {
        display: none;
    }
}

.range {
    -webkit-appearance: none;
    width: max-content;
    height: 5px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    cursor: pointer;
}

