body:-webkit-full-screen .footer{
    padding: 0;
    margin: 0;
    border-radius: 0;
}

body:-webkit-full-screen .main{
    padding: 0;
}  


body:-webkit-full-screen .slide-down{
  height: 0;
  display: none;
}

body:-webkit-full-screen .footer {
    background-color: transparent;
    bottom: 5px;
}

body:-webkit-full-screen #footer-toolbar {
    display: inline-block;
    border-radius: .5rem;
    background-color: rgba(67, 66, 75, 0.7);
}

body:-webkit-full-screen .hide-footer{
    bottom: -100px;
}
