html,
body{
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

#menu{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

#main{
    color: white;
    position: relative;
    /* background-color: #14243d; */
    /* background: radial-gradient(ellipse at center, #14243d 0%,#030611 100%); */
    height: 100%;
    padding-top: 43px;
    background-image: url("/images/line.jpg");
}

#content{
    position: relative;
    min-height: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 5px 0;
    touch-action: none;
}

#nav-menu{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: .2rem .75rem;
}

#nav-menu input,
#nav-menu button{
    font-size: 12px;
}

.card{
    border: 2px solid white;
    padding: 15px;
}


.fa-2x {
    font-size: 1.8em;
}
.far:hover,
.fas:hover,
.fa:hover {
    text-shadow: 0 0 5px #fff;
    cursor: pointer;
}

.fas:active,
.fa:active{
    transform: scale(1.2);
}
/*************************Scrollbar Style********************************/
 ::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0, 123, 255, .95);
    box-shadow: inset 0 0 6px rgba(15, 1, 228, 0.9);
}
/************************* End ********************************/

.pagination {
    margin-bottom: 0;
}

.pagination .page-link{
    padding: 0 0.25em;
    font-size: 1.7rem;
}
