html,
body{
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

#menu{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

#main{
    color: white;
    position: relative;
    background-color: #14243d;
    background: radial-gradient(ellipse at center, #14243d 0%,#030611 100%);
    height: 100vh;
    min-height: 100vh;
    /* padding-top: 43px; */
    /*     background-image: url("/images/line.jpg"); */
}

#content{
    position: relative;
    min-height: calc(100% - 44px);
    height: calc(100% - 44px);
    overflow-y: auto;
}

#nav-menu{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: .2rem .75rem;
}

#nav-menu input,
#nav-menu button{
    font-size: 12px;
}

.card{
    border: 2px solid white;
    /* padding: 15px; */
}


.fa-2x {
    font-size: 1.8em;
}
.far:hover,
.fas:hover,
.fa:hover {
    text-shadow: 0 0 2px #fff;
    cursor: pointer;
}

.fas:active,
.fa:active{
    transform: scale(1.2);
}
/*************************Scrollbar Style********************************/
 ::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0, 123, 255, .95);
    box-shadow: inset 0 0 6px rgba(15, 1, 228, 0.9);
}
/************************* End ********************************/

.pagination {
    margin-bottom: 0;
}

.pagination .page-link{
    padding: 0 0.25em;
    font-size: 1.7rem;
}

#page-select{
    max-width: 76px;
    height: 32px;
    border-radius: .25rem 0rem 0rem .25rem;
    font-weight: bold;
    color: #007bff;
}

#pager-select[option]{
  color: #007bff;
}

#popup {
    display: none;
    position: absolute;
    min-width: 60px;
    width: max-content;
    max-width: 225px;
    z-index: 1000;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 14px;
    pointer-events: none;
    word-wrap: break-word;
    text-align: center;
    pointer-events: none;
}

#popup:after {
    content: " ";
    position: absolute;
    height: 12px;
    width: 12px;
    top: -6px;
    right: calc(100% / 2 - 6px);
    transform: rotate(45deg);
    background-color: rgba(0, 0, 0, 0.6);
}

#popup.popup-top:after {
    top: auto;
    bottom: -6px
}

#controls{
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    height: 50px;
}

#search-container{
    align-self: center;
}

#btn-search{
    cursor: pointer;
}

#btn-search:active{
    font-size: .9rem;
}

#items-form{
    display: inline-block;
    align-self: center;
}

#items{
    display: inline-flex;
    max-width: 129px;
    top: -5px;
    margin-right: 5px;
    align-self: center;
}

#search-form .input-group-prepend,
#search-form .form-control,
#itemsPerPage .badge,
#items select.form-control,
#items .input-group-prepend{
    height: 32px;
    max-width: 150px;
}
#itemsPerPage .badge{
    position: relative;
    top: -4px;
    font-size: 18px;
    display: initial;
    padding: 6px;
}

#items label{
    padding: 0rem 0.75rem;
}

#itemsPerPage{
    position: relative;
    align-self: center;
    left: -12px;
}

#pager{
    display: inline-block;
    align-self: center;
}

#pager a{
    font-weight: 100;
    font-size: 24px;
}

#pager .fa{
    font-weight: 600;
    font-size: 22px;
}
#search-input{
    position: relative;
    border-radius: 0px 5px 5px 0px;
}

#clear-search .fa-times-circle{
    display: none;
    position: absolute;
    top: 6px;
    right: 5px;
    font-size: 20px;
    color: firebrick;
    z-index: 99;
}

#search-input:not(:placeholder-shown) + #clear-search .fa-times-circle{
    display: initial;
}

@media all and (max-width: 450px){
    
    #pager .page-item:last-child,
    #pager .page-item:first-child,
    #itemsPerPage{
        display: none;
    }
    #pager{
        position: relative;
        top: -2px;
    }
}

.resize:after{
    content: " ";
    position: absolute;
    bottom: -3px;
    right: 0px;
    border-top: 6px solid transparent;
    border-left: 6px solid transparent;
    border-bottom: 6px solid;
    border-right: 6px solid;
    cursor: se-resize;
    z-index: 10000;
}

.move{
    cursor: grab;
}
.move:active{
    cursor: grabbing;
}