html {
    height: 100%;
    width: 100%;
}

body {
    font-family: "Helvetica Neue", Arial, sans-serif;
}

#login-panel {
    margin: auto;
    padding: 10px;
}

#company-name {
    font-size: 2.95em;
}

.card {
    border: 2px solid white;
    padding: 15px;
}

.tab-pane {
    border-radius: 0 0 .25rem .25rem;
}

#footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    z-index: 99;
}

    #footer p {
        margin-bottom: 0;
    }

.pwd {
    vertical-align: central;
}

#powerstate {
    width: 1em;
}

    #powerstate .fa-battery-full {
        transform: rotate(270deg);
    }

    #powerstate .fa-bolt {
        font-size: 0.6em;
        padding-left: 1px;
    }

#batt-percent {
    content: attr(data-ps);
    display: inline-block;
    vertical-align: middle;
}

#powerstate .ac {
    text-shadow: 0 0 6px #e8be1d;
}

@media (max-width: 500px) {
    .thumb-nail {
        max-width: 350px;
        max-height: 250px;
    }
}

@media (max-width: 768px) {
}


@media (max-width: 1200px) {
}

@media (max-width: 580px) {
    #pag-sort-right {
        margin-left: 15px;
    }
}

.thumb-nail:hover {
    transform: scale(1.3);
}

.loading {
    position: relative;
    background: transparent;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkblue;
    font-size: 35px;
    letter-spacing: .1em;
    text-shadow: 3px 1px 1px gray;
}

.fa-home {
    transform: scale(-1, 1);
}

.loading:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 25px dotted #3498db;
    border-radius: 50%;
    animation: spin 5s linear infinite;
    content: " ";
}

@keyframes spin {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

select {
    border: 1px solid #ced4da;
    padding: 2.5px;
    border-radius: 0.25em;
}

.fa-2x {
    font-size: 1.8em;
}
.far:hover,
.fas:hover,
.fa:hover {
    text-shadow: 0 0 5px #fff;
    cursor: pointer;
}

.fas:active,
.fa:active{
    transform: scale(1.2);
}

.cursor-pointer {
    cursor: pointer;
}

#search .btn {
    margin-top: -2px;
    padding: 0 5px 0 5px;
}

#search {
    font-weight: bold;
}

    #search label {
        padding: 0;
        margin: 0;
    }

    #search input[type=text] {
        display: inline-block;
        width: 150px;
        padding: 0 2px 0 2px;
    }

        #search input[type=text]::-webkit-input-placeholder {
            padding-left: 2px;
        }

        #search input[type=text]:focus {
            background-color: lightblue;
            border-radius: 5px;
        }

.picture {
    position: relative;
    overflow: hidden;
}


table .fa-pencil {
    font-size: 1.8rem;
}
