#modal-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .55);
    z-index: 9999;
}

#modal{
    display: none;
    height: fit-content;
    width: 400px;
}

#modal label{
    width: 100px;
}