
#menu{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

#menu  i.fa-user{
    margin-right: 8px;
    color: #007bff;
}

#menu .active{
    border-bottom: 1px solid;
}

#nav-menu{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: .2rem .75rem;
}

#nav-menu input,
#nav-menu button{
    font-size: 12px;
}

.navbar {
    padding: .1rem 1rem;
}

.navbar-brand {
    margin-left: -5px;
    padding: 0;
    font-size: 25px;
}

.navbar img {
    vertical-align: middle;
}

.navbar label{
    line-height: 1;
    padding: 0.2rem .2rem;
    margin: 5px 0;
}

.navbar #toggle-menu{
    display: none;
}

@media screen and (max-width: 576px) {

    #navbarSupportedContent
    {
        display: block;
        height: 0;
        opacity: 0;
        transition: all .3s;
        visibility: hidden;
    }

    #navbarSupportedContent li
    {
        height: 0px;
        transition: all .3s;
    }

    .navbar #toggle-menu:checked + #navbarSupportedContent li
    {
        height: 32px;
    }

    .navbar #toggle-menu:checked + #navbarSupportedContent
    {
        height: 168px;
        opacity: 1;
        visibility: visible;
    }
}