video{
    object-fit: fill;
}

#video-container{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    background-color: rgba(0,0,0, 0.55);
    z-index: 10001;
    outline: none;
}

#video-viewer {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 0;
    height: 100%;
    width: 100%;
}

#video-container #video-viewer{
    width: 600px;
    height: 400px;
    min-width: 600px;
    min-height: 400px;
    user-select: none;
}

#video-player{
    position: relative;
    height: calc(100% - 54px);
    width: 100%;
}

#video-viewer:-webkit-full-screen #video-player{
       padding: 0;
}

#video-viewer:-webkit-full-screen:after{
     display: none;
}

body .content {
    overflow-y: hidden;
}

#player {
    width: 100%;
    height: 100%;
    object-fit: fill;
    touch-action: none;
}

.v-controls {
    bottom: 0px;
    left: 0;
    right: 0;
    font-size: initial;
}

#video-viewer:-webkit-full-screen #v-control-2{
    display: inline-block;
    padding: 10px 0px 5px 5px;
    background-color: rgba(0,0,0,0.4);
    border-radius: 5px;
    z-index: 12;
    position: relative;
    right: -50px;
}

#video-viewer:-webkit-full-screen #v-control-2 #v-player-config
{
    display: none;
}

#video-viewer:-webkit-full-screen #video-player{
    padding: 0;
    height: 100%;
}

.hide-vcontrols {
    opacity: 0;
}

#mobile-control{
    position: absolute;
    left: 10px;
    bottom: 0px;
    height: 30px;
}

.v-controls > *,
.v-controls > * > * {
    position: initial;
    left: initial;
}

.v-controls span {
    position: initial;
    left: initial;
    display: inline-block;
    height: 25px;
    margin: 0 5px;
    padding: 0 5px;
}

#video-viewer .rc-slider .rc-preview{
    color: black;
    width: min-content;
    height: 30px;
}

#video-viewer #v-current-time{
    color: black;
    padding: 0;
    margin: 0;
}

#video-viewer:-webkit-full-screen .footer > span i {
    background-color: black;
    padding: 2px 4px;
    border-radius: 5px;
}


.v-controls span i {
    color: #fff;
    font-size: 25px;
}

.v-controls span i:active {
    transform: scale(1.2)
}

.v-controls span i.fa-volume-up:active {
    transform: scale(1)
}

#v-total-time {
    font-size: 14px;
    color: white;
    font-weight: bold;
    z-index: 11;
    pointer-events: none;
}

#video-viewer:-webkit-full-screen #v-total-time {
    font-size: 14px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 1px 5px;
    border: 1px solid;
    bottom: 10px;
    color: black;
}

#video-viewer:-webkit-full-screen #video-viewer {
    padding: 0;
}

#v-index {
    width: 70px;
}

.v-controls input[type=number] {
    font-size: 20px;
    background-color: transparent;
    color: white;
    text-align: center;
    outline: none;
    border-radius: 5px;
}

.v-controls input[type=number] {
    transition: all 0.30s ease-in-out;
    outline: none;
    border: 1px solid #DDDDDD;
}

.v-controls input[type=number]:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}


#v-mute,
#v-play {
    display: none;
}

#v-play:checked+i:before {
    content: "\f28b";
}

.v-controls .v-vol *{
    cursor: pointer;
}

.v-controls .v-vol {
    position: absolute;
    width: auto;
    right: 0px;
}

.v-controls #v-control-2{
    padding-right: 70px;
}

#video-viewer:-webkit-full-screen .v-controls .v-vol {
    position: relative;
    width: max-content;
}

#video-viewer:-webkit-full-screen .v-controls .vol-show{
    position: fixed;
   transform: rotate(270deg);
   bottom: 126px;
   right: -50px;
}
.v-controls .v-vol label{
    position: relative;
    width: 45px;
}

.v-controls .v-vol #v-vol-control {
    position: relative;
    width: 130px;
    height: 8px;
    top: -5.5px;
    right: -5px;
}

#v-vol-control::-webkit-slider-thumb {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    padding: 8px;
    background: #fff;
    -webkit-app-region: no-drag;
}
 
.v-controls .mute-icon {
    display: inline-block;
    position: absolute;
    top: 34%;
    left: 5px;
    background-color: red;
    height: 4px;
    width: 30px;
    pointer-events: none;
    transition: all .3s;
    border-radius: 4px;
    transform: rotateZ(360deg) scaleX(0);
    z-index: 5;
}

.v-controls .v-vol #v-vol-control[value="0"] + label .mute-icon{
    transform: rotateZ(45deg) scaleX(1);
}

.v-controls .vol-ctrl:checked + .mute-icon {
    transform: rotateZ(45deg) scaleX(1);
}

#video-viewer:not(:-webkit-full-screen) .v-controls {
    opacity: 1;
}

#slider-container {
    height: 30px;
    margin: 0 20px;
    margin-bottom: -2px;
}

#slider-container .rc-slider {
    top: 9px;
}

.footer .popup-caction{
    position: relative;
    height: 0;
    width: 0;
    display: initial;
}

.footer .popup-caction:after{
    content: attr(data-title);
    display: none;
    position: absolute;
    top: -50px;
    left: -45px;
    width: max-content;
    padding: 2px 5px;
    background-color: red;
    border-radius: 5px;
    z-index: 5;
}

.footer span:hover .popup-caction:after{
    display: inline-block;
}
/******Animation from https://loading.io/css/******************/
.loading{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.loading-title{
    position: absolute;
    font-size: 40px;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid black;
  border-bottom: 16px solid black;
  width: 300px;
  height: 300px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media all and (max-width: 640px) {
    #video-viewer{
        position: fixed;
        min-width: 320px !important;
        min-height: 250px !important;
        height: 280px !important;
        width: 520px !important;
        left: 48px !important;
        top: 1% !important;
    }
    #video-viewer:after{
        display:none;
    }
    .v-controls #v-control-2 {
        padding-right: 60px;
    }
    .v-controls .list-file-show,
    .v-controls .tool-config{
        display: none;
    }
}

#video-viewer:-webkit-full-screen #mobile-control{
    position: fixed;
    left: 0px;
    bottom: 0px;
}

#v-name{
    position: absolute;
    text-align: center;
    width: 100%;
    top: 10px;
    z-index: 5;
}

#v-name #video-name{
    display: inline-block;
    padding: 5px 10px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 5px;
}

@media all and (max-width: 580px) {
    #player{
        height: initial;
    }

    #video-viewer{
        min-width: 350px !important;
        min-height: 320px !important;
        height: 330px !important;
        width: 320px !important;
        left: 5px !important;
        top: 25% !important;
    }
    #video-viewer:after{
        display:none;
    }
    .v-controls #v-control-2{
       position: relative;
       display: flex;
       flex-wrap: wrap;
       align-items: center;
       justify-content: space-between;
       padding-right: 0;
    }
    #mobile-control{
        height: 40px;
        position: relative;
        left: -123px;
        bottom: -11px;
    }
    .v-controls #v-cont2{
    top: 30px;
    }
    .v-controls .v-vol{
        position: absolute;
        top: 34px;
    }

    #video-player{
        height: 100%;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #video-viewer:-webkit-full-screen #v-control-2{
        display: initial;
        right: 0;
        padding: 0px 0 0 0;
    }
    #video-viewer:-webkit-full-screen #v-control-2 .v-vol{
        right: -84px
    }
    
    #video-viewer:-webkit-full-screen .hide-footer{
        bottom: -120px;
    }
    #video-viewer .v-controls{
    bottom: -32px;
    }
}

@media all and (max-height: 380px) { 
    #video-viewer:-webkit-full-screen #mobile-control{
        position: fixed;
        left: 0px;
        bottom: 0px;
        position: fixed;
        right: -540px;
        bottom: 30px;
    }
}