mixin serieVideos(videos, videopages)
    -let noItems = true
    #video-list
        .bottom-controls
            if videopages.isList
                span#add-filtered-videos.btn.btn-primary Add All 
                    i.fas.fa-plus-circle
            include ../../share/search
            +search(videopages, videopages.action+"search-videos",'search-videos')
            include ../../share/pagination
            +pagination(videos.count, videopages, noItems)
        ul.content-list.list-group
            each video in videos.rows
                li.list-group-item(id=video.Id)
                    if videopages.isList
                        span.v-add
                            i.fas.fa-plus-circle
                    else
                        span.v-remove.text-danger
                            i.fas.fa-trash-alt
                    span#v-name= video.Name