mixin serieVideos(videos, videopages)
    #video-list
        .bottom-controls
            if(videopages.isAdd)
                span.btn.btn-primary.add-all-video Add All 
                    i.fas.fa-plus-circle
            #search-container
                form#search-form.d-inline-block.ml-2(action=videopages.action+"search" method="POST") 
                    input(type="hidden" name="_csrf" value=""+ videopages.csrfToken)
                    input(type="hidden" name="page" value=""+ videopages.currentPage)
                    input(type="hidden" name="items" value=""+ videopages.itemsPerPage)
                    .input-group.mb-3
                        .input-group-prepend
                            button#btn-search.input-group-text(type="submit")
                                i.fa.fa-search
                        input#search-input.form-control(type="text" name="search" value=videopages.search placeholder="Enter Search" required)
                        span#clear-search
                            i.fas.fa-times-circle
            include ../../share/pagination
            +pagination(videos.count, videopages, noItems)
        ul#content-list.list-group
            each video in videos.rows
                li.list-group-item(id=video.Id)= video.Name