mixin series_table(series, videos, videopages, seriepages)
    #container.text-light.bg-dark.rounded.mx-2(data-action=seriepages.action, data-csrf=seriepages.csrfToken)
        #items-container.card.text-dark.row
            .col-6
                .list-titles
                    .title
                        span Series
                include ../items-list
                +items_list(series, seriepages, "serie")
            .col-6
                .list-titles
                    .nav.nav-tabs
                        .nav-item
                            input#tab-list-videos(type="radio" name="tabs" checked)
                            label.nav-link(for="tab-list-videos") Lista de videos
                        .nav-item
                            input#tab-all-videos(type="radio" name="tabs")
                            label.nav-link(for="tab-all-videos") Todos los Videos
                include ../video-list
                +videoList(videos, videopages)
                