extends ../share/layout

block css
    link(rel="stylesheet" href="/css/fullscreen.css" type="text/css")
    link(rel="stylesheet" href="/css/home.css" type="text/css")
    link(rel="stylesheet" href="/css/videoplayer.css" type="text/css")
    link(rel="stylesheet" href="/css/sliders.css" type="text/css")
    link(rel="stylesheet" href="/css/footer.css" type="text/css")
block navbar
    include ../share/navbar
    +navbar(user, url)

block content
    #video-container(tabindex="0")
        include ../videoplayer/player

    include ./items-view
    +items-view(items, pagedatas, isVideoView)

    span#scroll-up.d-none
        i.far.fa-arrow-alt-circle-up
block script
    script(src="/js/main.js")
    script(src="/js/video-list.js")
    script(src="/js/sliders.js")
    script(src="/js/player.js")
    script(src="/js/move-element.js")