extends ../share/layout

block css
    link(rel="stylesheet" href="/css/home.css" type="text/css")
    link(rel="stylesheet" href="/mangaviewer.css" type="text/css")

block navbar
    include ../share/navbar
    +navbar(user, url)

block content
    #media-container(tabindex="0")
        include ../videoplayer/player
        include ../home/manga-viewer
        
    include ./items-view
    +items-view(items, pagedatas, isFile)

    span#scroll-up.d-none
        i.far.fa-arrow-alt-circle-up
block script
    script(src="/js/home.js")
    script(src="/manga-viewer.js")