mixin items-view(items, pagedatas, isVideoView)
    #container    
        #controls
            if pagedatas.action.includes('content')    
                span#back
                    i.far.fa-arrow-alt-circle-up
            include ../share/search
            +search(pagedatas, pagedatas.action+"search", "search-form")

            include ../share/pagination
            +pagination(items.count, pagedatas)
                
        .items-list(id=(isVideoView ? "videos-list" : "series-list"))
            each item in items.rows
                .items(tabindex="0" id=item.Id, data-duration=item.Duration)
                    .item-video
                        .item-btns
                            if item.DirectoryId
                                span.item-del.far.fa-play-circle
                                span.item-fav.far.fa-star
                        .item-cover
                            img.fa(draggable="false" src="/covers/"+ (isVideoView ? 'videos/folder-'+item.DirectoryId+'/' : 'series/')+item.Id+'.jpg' alt="La imagen se esta cargando actulalize")
                        .item-name= item.Name.replace(/.mp4|.mkv|.avi|webm|ogg/ig, '')
        