mixin items-view(items, pagedatas, isFile)
    #container    
        #controls
            if pagedatas.action.includes('content')    
                span#back
                    i.far.fa-arrow-alt-circle-left
            include ../share/search
            +search(pagedatas, pagedatas.action+"search", "search-form")

            include ../share/pagination
            +pagination(items.count, pagedatas)
                
        .items-list(id=(isFile ? "files-list" : "folders-list"))
            each item in items.rows
                .items(tabindex="0" id=item.Id, data-duration=item.Duration data-type=(isFile ? item.Type : ""))
                    .item-video
                        .item-btns
                            if item.Type
                                span.item-play.far.fa-play-circle
                                if pagedatas.action.includes("/favorites")
                                    span.item-del.far.fa-trash-alt
                                else
                                    if pagedatas.action.includes("/recents")
                                        span.item-del.far.fa-trash-alt
                                    span.item-fav.fa-star(class=""+(item.dataValues.isFav ? "text-warning fas" : "far"))
                            else
                                span.float-right.fas.fa-folder
                        .item-cover
                            img.fa(draggable="false" src="/covers/"+ (isFile ? 'files/folder-'+item.DirectoryId+'/' : 'folders/')+item.Id+'.jpg' alt="Loading Image - Reload")
                        .item-name= item.Name.replace(/.mp4|.mkv|.avi|webm|ogg/ig, '')
        