#manga-viewer.text-center.move-modal.resize.d-none(tabindex="0")
    #m-loading
        span.fa.fa-spin
    span.clock
    #m-caru
        #carousel
            #m-name
                span#manga-name
            #img-preview
            #m-slider
                span#page-number
                span#page-total
    #img-viewer
        #manga-area-control
            #area-top
                .area#area1
                .area#area2
                .area#area3
            #area-center
                .area#area4
                .area#area5
                .area#area6
            #area-botton
                .area#area7
                .area#area8
                .area#area9
            #btn-carusel
        #img-content
            #animate-image-1.center-img
                img#myimg
            #animate-image-2.center-img
                img#temp-img
        #webtoon-content
    .manga-control.footer.move
        #webtoon-active.input-group
            .input-group-prepend
                input#webtoon.checked-box( type="checkbox" )
                label#webtoon-check( for="webtoon" class="checked-mark select-style") WebToon
        span.btn-fullscr-m
            i.fas.fa-expand-arrows-alt.popup-msg(data-title="Pantalla Completa")
        span#btn-img-config
            i.fas.fa-cog.popup-msg(data-title="Pantalla Completa")
        span#close-manga-modal
            i.far.fa-times-circle