#manga-viewer.text-center.move-modal.resize
    span#clock
    #m-name
        span#manga-name
    #img-viewer
        .footer
        #img-content
            #animate-image-1.center-img
                #myimg
            #animate-image-2.center-img
                #temp-img
        #webtoon-content
        #webtoon-active.input-group.mt-2
            .input-group-prepend
                input#webtoon.checked-box( type="checkbox" )
                label#webtoon-check( for="webtoon" class="checked-mark select-style") WebToon