#modal-header.text-center
    h3 New Favorite
form#fav-create-edit(method="post" action=action)
    input(type="hidden" name="id" value=""+ (fav.Id || ""))
    input(type="hidden" name="_csrf" value=""+ csrfToken)
    #errors.text-danger.text-center
    .input-group.my-3
        .input-group-prepend
            label.input-group-text(for="name") Name
        input#namename.form-control(required="" type="text" name="name" value=""+ (fav.Name || ""))
    .text-center.my-3
        button.btn.btn-secondary.close-modal(type="button") Cancel
        button.btn.btn-primary.ml-2(type="submit") Save
        