doctype html
html(lang="en")
    head
        title= title
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        link(rel="manifest" href="/manifest.json")
        meta(name="viewport" content="initial-scale=1")
        link(rel="shortcut icon" href="/images/home.ico" type="image/ico")
        if  env === 'development'
            link(rel="stylesheet" href="/static/lib/css/all.min.css" type="text/css")
            link(rel="stylesheet" href="/static/lib/css/bootstrap.min.css" type="text/css")
            link(rel="stylesheet" href="/static/css/nav-menu.css" type="text/css")
            link(rel="stylesheet" href="/static/css/index.css" type="text/css")
            link(rel="stylesheet" href="/static/css/modal.css" type="text/css")
        block css
    body
        block navbar
        if !url.includes('/login')
            #modal-container
                #modal.card.bg-dark.text-light
        div#main
            #popup
            #error-container
                #error-modal.card.text-dark
                    #error-title Notificacion del sistema.
                    #error-body
                    #error-bottom
                        span.btn.btn-secondary Cerrar
            div#content
                block content
        if env === 'development'
            script(src="/static/lib/js/jquery.js")
            script(src="/static/lib/js/socket.io.slim.js")
            script(src="/static/js/popup.js")
        block script
        
    