doctype html
html(lang="en")
    head
        title= title
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        link(rel="manifest" href="/manifest.json")
        meta(name="viewport" content="initial-scale=1")
        link(rel="shortcut icon" href="/images/home.ico" type="image/ico")
        block css
    body
        block navbar
        
        div#main
            #popup
            #error-container
                #error-modal.card.text-dark
                    #error-title Notificacion del sistema.
                    #error-body
                    #error-bottom
                        span.btn.btn-secondary Cerrar
            div#content
                block content
            span#full-screen
                i.fas.fa-expand-arrows-alt.popup-msg(data-title="Pantalla Completa")
    block script

    