mixin navbar(user, url)
    nav#menu.navbar.navbar-expand-sm.navbar-dark.bg-dark
        a.navbar-brand(href="/")
            i.fas.fa-home
        label.navbar-toggler(for="toggle-menu")
            span.navbar-toggler-icon
        input#toggle-menu(type="checkbox")
        .collapse.navbar-collapse#navbarSupportedContent
            ul.navbar-nav.mr-auto
                li.nav-item
                    a.nav-link(href="/" class=""+(url === '/' || url.includes('serie-content') ? "active" : "")) Home
                li.nav-item
                    a.nav-link(href="/videos" class=""+(url.includes('videos') ? "active" : "")) Todos los videos
            ul.ml-auto.nav.navbar-nav
                li.nav-item
                    if user
                        a.nav-link(href="/admin" class=""+(url.includes('admin') ? "active" : ""))
                            i.fas.fa-user.f-2x
                            span= user.Name
                    if(user)
                        li.nav-item
                            a.nav-link(href="/logout") Logout