nav#menu.navbar.navbar-expand-md.navbar-dark.bg-dark
    a.navbar-brand(href="/")
        img(src="images/home.png" height="35" alt="Movie server")
    label.navbar-toggler(for="toggle-menu")
        span.navbar-toggler-icon
    input#toggle-menu(type="checkbox")
    .collapse.navbar-collapse#navbarSupportedContent
        ul.navbar-nav.mr-auto
            li.nav-item
                a.nav-link(href="#") Home
            li.nav-item
                a.nav-link(href="#") New Release
            li.nav-item
                a.nav-link(href="#")

        ul.ml-auto.nav.navbar-nav
            li.nav-item
                a.nav-link(href="/admin") Hello - #(name)
            li.nav-item
                a.nav-link(href="#") Logout