mixin navbar(user, url)
    nav#menu.navbar.navbar-expand-sm.navbar-dark.bg-dark
        ul.navbar-nav.bg-dark
            li.nav-item
                a.nav-link(href="/" class=""+(url === '/' || url.includes('recents') ? "active" : ""))
                    i.fas.fa-clipboard-list
                    span  Recents 
            li.nav-item
                a.nav-link(href="/folders" class=""+(url.includes('/folders') || url.includes('folder-content') ? "active" : ""))
                    i.fas.fa-folder
                    span  Folders 
            li.nav-item
                a.nav-link(href="/mangas" class=""+(url === '/mangas' || url.includes('mangas') ? "active" : "")) 
                    i.fas.fa-book
                    span  Mangas
            li.nav-item
                a.nav-link(href="/videos" class=""+(url.includes('videos') ? "active" : ""))
                    i.fas.fa-film
                    span  All Videos
            li.nav-item
                a.nav-link(href="/categories" class=""+(url.includes('categories') ? "active" : ""))
                    i.fas.fa-tags
                    span  Categories
        ul.navbar-nav.bg-dark
            if !['manager', 'admin'].includes(user.Role)
                li.nav-item
                    a.nav-link(href="/favorites" class=""+( url.includes('favorites') ? "active" : ""))
                        i.fas.fa-heart
                        span  Favorites
            li.nav-item
                if ['manager', 'admin'].includes(user.Role)
                    a.nav-link(href="/admin" class=""+(url.includes('admin') ? "active" : ""))
                        i.fas.fa-user-cog.f-2x
                        span= " "+user.Name
                else
                    span.nav-link(class=""+(url.includes('admin') ? "active" : ""))
                        i.fas.fa-user.f-2x
                        span= " "+user.Name
                if(user)
                    li.nav-item
                        a#login.nav-link(href="/logout") Logout
            