mixin navbar2(user)
    nav#menu.navbar.navbar-expand-md.navbar-dark.bg-dark
        a.navbar-brand(href="/")
            img(src="/images/home.png" height="35" alt="Movie server")
        label.navbar-toggler(for="toggle-menu")
            span.navbar-toggler-icon
        input#toggle-menu(type="checkbox")
        .collapse.navbar-collapse#navbarSupportedContent
            ul.navbar-nav.mr-auto
                li.nav-item
                    a.nav-link(href="#") Home
                li.nav-item
                    a.nav-link(href="#") New Release

            ul.ml-auto.nav.navbar-nav
                li.nav-item
                    if user
                        a.nav-link(href="/admin") Hello - #{user.Name}
                    if(user)
                        li.nav-item
                            a.nav-link(href="/logout") Logout