tr(id=""+ user.Id)
    td.text-primary
        span.show-form
            i.fas.fa-edit.fa-2x
        span.show-delete(data-action="/admin/user-delete")
            i.ml-2.text-danger.fas.fa-trash-alt.fa-2x
    td= user.Name
    td= roles[user.Role]
    td= user.State
    td= moment(user.CreatedAt).format("LLL")