mixin directories(directories, pagedatas)
    #container.text-light.bg-dark.rounded.mx-
        .nav.nav-tabs#tab-directory
            .nav-item
                input#tab-directory-dirs(type="radio" name="tabs" checked)
                label.nav-link(for="tab-directory-dirs")
                    .fas.fa-folder-plus
            .nav-item
                input#tab-directory-disk(type="radio" name="tabs")
                label.nav-link(for="tab-directory-disk")
                    .fas.fa-hdd

        ul#paths.list-group.text-dark.font-weight-bold(data-csrf=pagedatas.csrfToken)
            li.list-group-item No hay Directorios Agregados
            each d in directories
                li.list-group-item(id=d.Id)
                    span
                        i(class="text-primary fas fa-sync "+(d.IsLoading ? "fa-spin" : ""))
                    span.delete-path
                        i.ml-2.text-danger.fas.fa-trash-alt
                    span.ml-2= d.FullPath

        #tree-container.d-none
            .card.text-dark
                .text-center.text-light
                #disks
                    h2 Espere Por favor.               