#tree-title 
    span.fas.fa-sitemap  PC
ul.tree-view
    each disk in disks
        li.tree-item
            span.dir
                i.fa.fa-hdd
                =" "+disk
            span.caret &#x25B6;