mixin configs(configs, pagedatas)
    #container.text-light.bg-dark.rounded.mx-
        .text-center.text-light
            h2 Directorios Agregados

        ul#paths.list-group.text-dark.font-weight-bold(data-csrf=pagedatas.csrfToken)
            li.list-group-item.list-group-item-action No hay Directorios Agregados
            each path in configs.paths
                li.list-group-item.list-group-item-action
                    span.show-delete
                        i.ml-2.text-danger.fas.fa-trash-alt
                    span.ml-2= path

        .card.text-dark
            .text-center.text-light
            #disks
                h2 Espere Por favor.
                        